@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
	margin: 0;
	padding: 0;
	background: black;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

.Achtergrond {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
}

.AchtergrondHelper {
	background-image: linear-gradient(to bottom, transparent 40%, black);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100%;
	filter: blur(10px);
}

svg{
	position: fixed;
	top: 80px;
	left: 50%;
	width: 250px;
	height: 46.7px;
	transform: translate(-50%, -50%);
	transition: 0.2s;
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 1800;
	opacity: 1;
	z-index: 3;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

path {
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 1800;
	opacity: 1;
	animation: WoopWoopTekst 4s cubic-bezier(0,0.23,1,.1);;
}

@keyframes WoopWoopTekst {
	0% {
		position: absolute;
		top: 80px;
		left: 50%;
		visibility: visible;
		opacity: 0;
		fill: none;
		stroke-dashoffset: 1800; 
		height: 179px;
		width: 1158px;
	}

	20% {
		opacity: 0.2;
		stroke-dashoffset: 1800; 
	}

	70% {
		opacity: 0.5;
		fill: rgba(255,255,255,0);
		stroke-dashoffset: 0;
	}

	100% {
		opacity: 1;
		fill: rgba(255,255,255,1);
	}
}

.GoBack{
	height: 50px;
	width: 200px;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	margin-top: 20px;
	margin-left: 20px;
	transition:0.2s;
}

.GoBack a{
	color: white;
	transition:0.2s;
	text-decoration: none;
}

.GoBack a:hover{
	font-size: 24px;
	font-weight: 600;
}

.FirstBody {
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 700px;
	width: 600px;
	border-radius: 10px;
	box-shadow: 5px 5px 25px black;
}

.TopPart {
	text-align: center;
}

#Icon{
	font-size: 300px;
	position: relative;
	top: 50px;
}

#LeText {
	padding: 0px 100px;
	width: 400px;
}

.BottomPart{
	height: 350px;
	width: 600px;
}

.BottomPart input{
	display: inline-block;
	width: 80%;
	position: relative;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	border-radius: 30px;
	border: 3px solid black;
	outline: none;
	padding: 0 10px;
}

.BottomPart button{
	display: inline-block;
	position: relative;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.2s;
}

button:hover {
	cursor: pointer;
	transform: translateX(-50%) scale(1.2);
	font-size: 14px;
}

button:focus {
	outline: none;
}